@charset "utf-8";

html {
    width: 100% !important;
    height: 100% !important;
}

body {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #954B95;
}

.img-true {
    display: none;
    width: 10px;
    height: 10px;
}

#img-true1 {
    display: none;
    width: 10px;
    height: 10px;
}

#img-true2 {
    display: none;
    width: 10px;
    height: 10px;
}

 .img-false {
    display: none;
    width: 10px;
    height: 10px;
} 

#img-false1 {
    display: none !important;
    width: 10px;
    height: 10px;
}

#img-false2 {
    display: none !important;
    width: 10px;
    height: 10px;
}

#login-h1 {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 130px;
    margin-left: 10px;
    font-family: 'Bellefair', serif;
    color: #B375B3;
}

#id-form-login {
    margin-left: 10px;
    width: 400px;
    height: 400px;
    font-family: 'Bellefair', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgb(235, 229, 229);
}

.div-input {
    /* background-color: lightgreen; */
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family:  'Bellefair', serif; 
    font-size: 18px;
    height: 140px;
    width: 220px;
}
  
.input-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border: none;
    padding: 4px 0;
    border-bottom: 1px solid #B375B3;
    background-color: transparent;
    font-family: 'Bellefair', serif;
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin-bottom: 0px;
}

#id-email {
    margin-left: 0px;
}

.input-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.input-login:focus {
    outline: none;
    border-bottom: 2px solid #B375B3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


.input-login::-webkit-input-placeholder:focus {
    color:  #7D529A;
     -webkit-transform: scale(0.50);
             transform: scale(0.50); 
}


.input-login:-ms-input-placeholder:focus {
    color:  #7D529A;
     transform: scale(0.50); 
}


.input-login::placeholder:focus {
    color:  #7D529A;
     -webkit-transform: scale(0.50);
             transform: scale(0.50); 
}

#button-login {
    -ms-flex-item-align: center;
        align-self: center;
    border: 1px solid #B375B3;
    background-color: rgb(235, 229, 229);
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 130px;
    height: 60px;
    border-radius: 3.5px;
    font-family: 'Bellefair', serif;
    font-size: 17.5px;
    
}
#button-login:focus {
    outline: 0 none;
}


#button-login:hover {
    /* color: #60327F */
    border: 1.5px solid #B375B3;
    color: #B375B3;
    
}

#div-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
}

#div-login-successful {
    margin-left: 15px;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
    height: 50px;
    color: rgb(33, 159, 33);

}

#div-login-failed {
    margin-left: 15px;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
    height: 50px;
    color: rgb(191, 11, 11);
}

#loginSuccessful {
    width: 40px;
    height: 50px;    
}

#loginFailed {
    width: 40px;
    height: 40px;
}

#message-failed {
    margin-left: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#message-successfull {
    margin-left: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.div-registrate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
    font-size: 14px;
}

#link-to-register {
    margin-left: 10px;
    color:#954B95;
}

#link-to-register:active {
    color: #954B95;

}