@charset "utf-8";

html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 900px;
    background-color: white;
}

/* LINKS */

#link-cart {
    text-decoration: none;
}
.top-links {
    color: black;
    text-decoration: none;
}

.top-links:hover {
    color: lightcoral !important;
}

.links-menu {
    color: black;
    text-decoration: none;
}

.links-menu:hover {
    color: lightcoral
}

#products-cart {
    color: black;
}

#products-cart:hover {
    color: lightsalmon;
}


.link-categories-list {
    text-decoration: none;
    
}
.link-categories-list:hover {
  color: lightsalmon;
    
}

.link-filtered-list {
    text-decoration: none;
}

.link-filtered-list:hover {
 color: lightsalmon;
}

.link-colours {
    text-decoration: none;
}

.link-colours:hover {
   color: lightsalmon;
}


/* HEAD PART. THE TOP */

.cart {
    height: 50px;
    width: 50px;
}
.top-div {
    /* position: fixed; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    width: 100%;
}

.currencies-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Bellefair', serif;
    background-color: white;
    width: 80px;
    height: 30px;
    color: black;
    font-size: 13px;
}

.options-currencies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Bellefair', serif;
    font-size: 13px;
    background-color: white;
    width: 100px;
    height: 50px !important; 
    padding: 5px;
    color: black; 
}
.div-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 50px;
    width: 300px;
}

.first-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.ul-list {
    height: 40px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Bellefair', serif;
    font-size: 19px;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 300px;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.title h1 {
    font-family:'Bellefair', serif;
    font-size: 50px;
}

.div-list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.ul-list2 {
    height: 40px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Bellefair', serif;
    font-size: 19px;
}

/* ASIDE - LEFT PART */

aside {
    width: 250px;
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ul-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    width: 150px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family:'Bellefair', serif;
    font-size: 20px;
}

#categ {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 5px;
}

.div-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    height: 220px;
    width: 220px;
    background-color: #BBB3B3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
}



#filt {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.filters-list {
    margin: 5px;
    
}

.div-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    height: 370px;
    width: 220px;
    background-color: #BBB3B3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    font-family:'Bellefair', serif;
   /* font-size: 15px; */
}

.ul-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 190px;
    width: 190px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family:'Bellefair', serif;
    font-size: 15px;
    /* overflow: auto; */
} 

.div-colour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    height: 200px;
    width: 200px;
    background-color: #BBB3B3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
}

.ul-colour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    width: 150px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family:'Bellefair', serif;
    font-size: 20px;
}

#colour {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 5px;
}

/* CENTRAL PART */

/* PAGE BASKET-DETAILS */

#central-section{
    width: 83%;
}

/*  */

.central-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
    width: 85%;
}

.div-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* position: fixed; */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.ul-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.list-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-family:'Bellefair', serif;
    font-size: 20px;
}

.sort-by-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:  300px;
    height: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family:'Bellefair', serif;
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
}

.big-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    margin: 10px;
    /* overflow: hidden; */
}

#img-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
   

}

 .details-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 400px;
    height: 700px;
    background-color: #BBB3B3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
 }
 

.div-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 270px;
    height: 270px;
}

.img-details {
    width: 270px;
    height: 270px;
}

.div-js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
    height: 320px;
}

.js-detailsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family:'Bellefair', serif;
    font-size: 18px;
}

.img-js {
    width: 300px;
    height: 300px;
}

.div-buttons-js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    width: 300px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.div-remove-js {
    border: 5px;
    border-radius: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #BBB6B6;
    height: 30px;
    width: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family:'Bellefair', serif;
    font-size: 18px;
}

.div-buy-js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #BBB6B6;
    border-radius: 5%;
    height: 30px;
    width: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family:'Bellefair', serif;
    font-size: 18px;
}

.div-remove-js:hover {
    background-color: lightgrey;
    color: black;
}

.div-buy-js:hover {
    background-color: lightgrey;
    color: black;
}

.big-div-buy-js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.div-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 420px;
    height: 420px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: lightgrey;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 5%;
    font-size: 11px;
    font-family:'Bellefair', serif;
}

.add-to {
    font-size: 11px;
    font-family:'Bellefair', serif;
}

.add-to:hover {
  color: lightsalmon;
}

.div-name {
    height: 30px;
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family:'Bellefair', serif;
}

.name-product {
    font-family:'Bellefair', serif;

}

.div-price {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family:'Bellefair', serif;
}

.div-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family:'Bellefair', serif;
    font-size: 16px;
}

.div-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family:'Bellefair', serif;
    font-size: 16px;
}

.sizes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20px;
    width: 55px;
    font-size: 10px;
}

label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: 75px;
}
.options-quantities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25px;
    width: 40px;
}